{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'esportes/style.css' %}"> -->

<h1> Veja os jogadores que acompanhamos </h1>

<div class="jogadores-panel">
    {% for jogadores in dados %}
    <div class="jogadores-card">
        {{ jogadores.nome }}
        {{ jogadores.genero }}
        {{ jogadores.idade }}
    </div>
    {% endfor %}
</div>

<style>
    h1 {
       text-align: center;
    }

    .jogadores-panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .jogadores-card {
        margin: 5px 15px;
        border: 3px inset hsl(210, 75%, 60%);
        display: flex;
        flex-direction: column;
    }
</style>

<a href="{% url 'jogadores:index' %}"> Voltar </a>