{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aposta/style.css' %}">

<h1>Aposta {{ aposta.aposta_id }}</h1>
<ul>
    <li>Venceu aposta: {{ aposta.venceu_aposta }}</li>
    <li>Valor: {{ aposta.valor }}</li>
    <li>Time apostado: {{ aposta.aposta_vencedor }}</li>
    <li>Odd: {{ aposta.odd }}</li>
    <li>Data: {{ aposta.data_hora }}</li>
    <li>partida_id: {{ aposta.partida_id }}</li>
    <li>torneio_id: {{ aposta.torneio_id }}</li>
    <li>Nome apostador: {{ aposta.id_usuario_aposta.nome }}</li>
    <li>Aposta finalizada: {{ aposta.aposta_finalizada }}</li>
</ul>

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<a href="{% url 'aposta:index' %}"> Voltar </a>