{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aposta/style.css' %}">
<h1>Criar usuario</h1>
<form action="{% url 'aposta:make_user' %}" method="post">
    {% csrf_token %}
    <label><span style="padding-right:39px"><b> ID: </b></span></label>
    <input type="text" name="user_id" id="user_id" value={{qtd_user.user_id__count}}><br>

    <label><span style="padding-right:23px"><b> DDD: </b></span></label>
    <input type="text" name="ddd" id="ddd"><br>

    <label><b> Telefone: </b></label>
    <input type="text" name="tel" id="tel"><br>

    <label><span style="padding-right:28px"><b> CPF: </b></span></label>
    <input type="text" name="cpf" id="cpf"><br>

    <label><span style="padding-right:20px"><b> Saldo: </b></span></label>
    <input type="text" name="saldo" id="saldo"><br>

    <label><span style="padding-right:18px"><b> Senha: </b></span></label>
    <input type="text" name="senha" id="senha"><br>

    <label><span style="padding-right:13px"><b> E-mail: </b></span></label>
    <input type="text" name="email" id="email"><br>

    <label><span style="padding-right:20px"><b> Nome: </b></span></label>
    <input type="text" name="nome" id="nome"><br>

    <label><span style="padding-right:28px"><b>Sexo: </b></span></label>
    <select name="sexo" id="sexo">
        {% for s in sexo %}
            <option> {{s.sexo}} </option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Novo usuario">
</form>