{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aposta/style.css' %}">

<h1>{{ org.nome_org }}</h1>
<h2>CEO </h2>
<ul>
    <li>{{ org.ceo }}</li>
</ul>
<h2>Membros</h2>
<ul>
    {% for p in pertence_list %}
        {% if p.userorg_id == org.organizacao_id%}
                {% for u in usu %}
                    {% if u.user_id == p.userpremium_id %}
                        <li> {{ u.nome }} </li>
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
<a href="{% url 'aposta:index' %}"> Voltar </a>