li a {
    color: green;
}

button {
    background-color: #114d70;
    border: none;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.message_box {
    text-align: down;
}

body {
    text-align: center;
    background: lightblue no-repeat;
}

.center {
    margin: auto;
    width: 70%;
    border: 1px solid #06a4c0;
    padding: 4px;
}

td {
    word-wrap: break-word;
}

a{
    background-color: #7dc6f0;
    border: none;
    color: black;
    padding: 1px 3px;
    text-decoration: none;
}

a:hover{
    background-color: #114d70;
    border: none;
    color: white;
    padding: 1px 3px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}