li a {
    color: green;
}

button {
    background-color: #114d70;
    border: none;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], input[type=email], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.message_box {
    text-align: down;
}

body {
    text-align: center;
    background: lightblue no-repeat;
}

.center {
    margin: auto;
    width: 70%;
    /* border: 1px solid #06a4c0; */
    padding: 4px;
}

td {
    word-wrap: break-word;
}

a{
    border: none;
    color: black;
    padding: 1px 3px;
    text-decoration: none;
}

a:hover{
    background-color: #114d70;
    border: none;
    color: white;
    padding: 1px 3px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


h1 {
    font-size: 50px;
    color: #36304a;
    text-align: center;
}