{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'esportes/style.css' %}"> -->

<h1> Veja os jogadores que acompanhamos </h1>

<div class="jogadores-panel">
    {% for jogadores in dados %}
    <div class="jogadores-card">
        <h1>{{ jogadores.nome }}</h1>
        <span>Sexo: {{ jogadores.genero }}</span> <br>
        <span>Idade: {{ jogadores.idade }}</span>
    </div>
    {% endfor %}
</div>

<body style="background-color:#78c1ff;"></body>

<style>
    h1 {
       text-align: center;
    }

    .jogadores-panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .jogadores-card {
        margin: 5px 15px;
        padding-bottom: 10px;
        background-color: hsl(210, 65%, 80%);
        border-radius: 5px;
        border: 4px outset #000f29; 
        font-size: normal;
        text-align: center;
    }

    .jogadores-card:hover {
        background-color: hsl(210, 65%, 95%);
    }

    span {
        font-size: normal;
        text-align: center;
    }
</style>

<a href="http://localhost:8000/"> Voltar </a>