{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'esportes/style.css' %}"> -->

<h1> Veja os esportes que acompanhamos </h1>

<div class="sports-panel">
    {% for esportes in dados %}
    <a style="color: inherit; text-decoration: none;" href='http://localhost:8000/esportes/?name={{esportes.esporte}}'>
    <div class="sport-card">
        <h3>{{ esportes.esporte }}</h3>
        <span>{{ esportes.descricao }}</span>
    </div>
    </a>
    {% endfor %}
</div>

<body style="background-color:#78c1ff;"></body>

<style>
    h1 {
       text-align: center;
    }

    .sports-panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sport-card {
        margin: 5px 15px;
        padding-bottom: 10px;
        background-color: hsl(210, 65%, 80%);
        border-radius: 5px;
        border: 4px outset #000f29; 
        font-size: normal;
        text-align: center;
    }
</style>

<a href="http://localhost:8000/"> Voltar </a>