{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'esportes/style.css' %}"> -->

<h1> Veja os esportes que acompanhamos </h1>

<div class="sports-panel">
    {% for esportes in dados %}
    <a style="color: inherit; text-decoration: none;" href='http://localhost:8000/esportes/?name={{esportes.esporte}}'>
    <div class="sport-card">
        <h3>{{ esportes.esporte }}</h3>
        <span>{{ esportes.descricao }}</span>
    </div>
    </a>
    {% endfor %}
</div>


<style>
    h1 {
       text-align: center;
    }

    .sports-panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sport-card {
        margin: 5px 15px;
        padding-bottom: 10px;
        border-radius: 5px;
        border: 4px outset hsl(180, 75%, 35%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sport-card:hover {
        background-color: hsl(180, 65%, 92%);
    }

    span {
        font-size: normal;
        text-align: center;
    }
</style>

<a href="{% url 'esportes:index' %}"> Voltar </a>