{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'esportes/style.css' %}"> -->

<h1> Veja os partidas que acompanhamos </h1>

<div class="partidas-panel">
    {% for partidas in dados %}
    <div class="partidas-card">
        <h1>
            {{ partidas.times.0.nome }} {{ partidas.placar }} {{ partidas.times.1.nome }} 
        </h1>
        <span>Duração: {{ partidas.duracao }}</span>
    </div>
    {% endfor %}
</div>

<style>
    h1 {
       text-align: center;
    }

    .partidas-panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .partidas-card {
      margin: 5px 15px;
      padding-bottom: 10px;
      border-radius: 5px;
      border: 4px outset hsl(30, 75%, 55%);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .partidas-card:hover {
        background-color: hsl(30, 65%, 95%);
    }

    span {
        font-size: large;
        font-weight: 500;
    }
</style>

<a href="http://localhost:8000/"> Voltar </a>