{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aposta/style.css' %}">

<div id="cabecalho">
    <h1 id="title">Fantasy Star Apostas</h1>
</div>

<div id="corpo">
    <div class="sessao_conteudo">
        <h1>Aposta ID: {{ aposta.aposta_id }}</h1>
        <hr>
        <ul>
            <li>Venceu aposta: {{ aposta.venceu_aposta }}</li>
            <li>Valor: R$ {{ aposta.valor }}</li>
            <li>Time apostado: {{ aposta.aposta_vencedor }}</li>
            <li>Odd: {{ aposta.odd }}</li>
            <li>Data: {{ aposta.data_hora }}</li>
            <li>ID da Partida: {{ aposta.partida_id }}</li>
            <li>ID do Torneio: {{ aposta.torneio_id }}</li>
            <li>Nome apostador: {{ aposta.id_usuario_aposta.nome }}</li>
            <li>Aposta finalizada: {{ aposta.aposta_finalizada }}</li>
        </ul>

        <h1>{{ question.question_text }}</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <hr>
        <a href="{% url 'aposta:index' %}"> Voltar </a>
    </div>
</div>