{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aposta/style.css' %}">

<div id="cabecalho">
    <h1 id="title">Fantasy Dreams Apostas</h1>
</div>
<div id="corpo">
    <div class="sessao_conteudo">
        <h1>Criar usuario</h1>
        <hr>
        <form action="{% url 'aposta:make_user' %}" method="post">
            {% csrf_token %}
            <label><span style="padding-right:54px"><b> ID: </b></span></label>
            <input type="text" name="user_id" id="user_id" value={{qtd_user.user_id__count}} readonly="readonly"><br>

            <label><span style="padding-right:34px"><b> DDD: </b></span></label>
            <input type="text" name="ddd" id="ddd"><br>

            <label><b> Telefone: </b></label>
            <input type="text" name="tel" id="tel"><br>

            <label><span style="padding-right:37px"><b> CPF: </b></span></label>
            <input type="text" name="cpf" id="cpf"><br>

            <label><span style="padding-right:24px"><b> Saldo: </b></span></label>
            <input type="text" name="saldo" id="saldo"><br>

            <label><span style="padding-right:19px"><b> Senha: </b></span></label>
            <input type="text" name="senha" id="senha"><br>

            <label><span style="padding-right:19px"><b> E-mail: </b></span></label>
            <input type="text" name="email" id="email"><br>

            <label><span style="padding-right:23px"><b> Nome: </b></span></label>
            <input type="text" name="nome" id="nome"><br>

            <label><span style="padding-right:30px"><b>Sexo: </b></span></label>
            <select name="sexo" id="sexo">
                {% for s in sexo %}
                    <option> {{s.sexo}} </option>
                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Novo usuario">
        </form>
        <hr>
        <a href="{% url 'aposta:index' %}"> Voltar </a>
    </div>
</div>