{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aposta/style.css' %}">

<div id="cabecalho">
    <h1 id="title">Fantasy Dreams Apostas</h1>
</div>
<div id="corpo">
    <div class="sessao_conteudo">
        <h1>Usuario Criado Com Sucesso!</h1>
        <hr>
        <ul>
        {% for u in u_create %}

            <li> Nome: {{u.nome}} </li>
            <li> DDD: {{u.tel_ddd}}</li>
            <li> Telefone: {{u.tel_numero}} </li>
            <li> CPF: {{u.cpf}} </li>
            <li> Saldo: {{u.saldo}} </li>
            <li> Senha: {{u.senha}} </li>
            <li> E-mail: {{u.email}} </li>
            <li> Nome: {{u.nome}} </li>
            <li> Sexo: {{u.sexo}} </li>

        {% endfor %}
        </ul>
        <hr>
        <a href="{% url 'aposta:index' %}"> Voltar </a>
    </div>
</div>