{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aposta/style.css' %}">

<script type="text/javascript">
    function mul(x, y) {
        return x*y;
    }
</script>

<div id="cabecalho">
    <h1 id="title">Fantasy Star Apostas</h1>
</div>
<div id="corpo">
    <div class="sessao_conteudo">
        {% if a != "Selecionar" and b != "Selecionar" %}
            <h1> Valor: R$ {{a}} | Time: {{b}} </h1>
        {% elif a != "Selecionar" %}
            <h1> Valor: R$ {{a}} </h1>
        {% else %}
            <h1> Time: {{b}} </h1>
        {% endif %}
        <hr>
        {% if aposta_filter %}
            <ul>
                {% for aposta in aposta_filter %}
                    <li> Nome: {{ aposta.id_usuario_aposta.nome }}</li>
                    <li> Time apostado: {{ aposta.aposta_vencedor }}</li>
                    <li> Venceu: {{aposta.venceu_aposta}}</li>
                    <li> Valor: R$ {{aposta.valor}}</li>
                    <li> Odd: {{aposta.odd}} </li>
                    {% if aposta.venceu_aposta %}
                        <li id="prof"> Ganho: R$ <script type="text/javascript">document.write(mul({{aposta.valor}},{{aposta.odd}}))</script> </li>
                    {% else %}
                        <li id="loss"> Ganho: R$ 0</li>
                    {% endif %}
                    <hr>
                {% endfor %}
            </ul>
        {% else %}
            <p>No bets are available.</p>
        {% endif %}
        <a href="{% url 'aposta:index' %}"> Voltar </a>
    </div>
</div>