{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'esportes/style.css' %}"> -->

<h1> Veja os times que acompanhamos </h1>

<div class="times-panel">
    {% for times in dados %}
    <div class="times-card">
        <h3>{{ times.nome }}</h3>
        <br>
        <b>Treinador: {{ times.treinador.nome }}</b>
        <br>
        <b>Participantes:<br></b>

            {% for participante in times.participantes %}
            <span> {{ participante.nome }} <br></span>
            {% endfor %}
            <br>
            <br>
    </div>
    {% endfor %}
</div>

<body style="background-color:#78c1ff;"></body>

<style>
    h1 {
       text-align: center;
    }

    .times-panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .times-card {
        margin: 5px 15px;
        padding-bottom: 10px;
        background-color: hsl(210, 65%, 80%);
        border-radius: 5px;
        border: 4px outset #000f29; 
        font-size: normal;
        text-align: center;
    }

    .partidas-card:hover {
        background-color: hsl(210, 65%, 95%);
    }

    span {
        font-size: normal;
        text-align: center;
    }
</style>

<a href="http://localhost:8000/"> Voltar </a>