li {
    color: #343466;
    font-family: "Copperplate", sans-serif;
    font-size: 18px;
}

label {
    color: #343466;
    font-family: "Copperplate", sans-serif;
    font-size: 18px;   
}

option {
    color: black;
    font-family: "Arial";
    font-size: 14px; 
}

input {
    font-family: "Copperplate", sans-serif;
    font-size: 16px; 
}
input:link, input:visited {
    background-color: #78c1ff;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }
  
input:hover, input:active {
    background-color: #003f9a;
    color: white;
}

h1 {
    font-family: "Copperplate", sans-serif;
    font-size:40px;
    color: #003389;
}

h2 {
    font-family: "Copperplate", sans-serif;
    font-size:30px;
    color: #2b56cc;
}

body {
    background:#000f29 no-repeat;
}

#cabecalho{
    background-color: #338ac9;
    width: 1810px;
    padding: 5px 2%;
    color: white;
    text-align: center;
    border-style: outset;
}

#corpo{
    background-color: #000f29;
    width: 1810px;
    padding: 10px 2%;
    content: "";
    display: table;
    clear: both;
}

#title{
    font-family: "Copperplate", sans-serif;
    font-size:64px;
    color: #0c2877;
    text-shadow: 0 0 30px #f2f7fc, 0 0 20px #00b7ff;
}

.sessao_conteudo{
    text-align: justify;
    width: 95%;
    background-color: white;
    padding: 10px 2%;
    margin-top: 5px;
}
.sessao_conteudo_left{
    text-align: justify;
    width: 46%;
    background-color: white;
    float: left;
    padding: 12px 2%;
    margin-top: 5px;
}

.sessao_conteudo_right{
    text-align: justify;
    width: 45%;
    background-color: white;
    float: right;
    padding: 14px 2%;
    margin-top: 5px;
}

#prof{
    font-family: "Copperplate", sans-serif;
    font-size:18px;
    color: #0c7742;
}

#loss{
    font-family: "Copperplate", sans-serif;
    font-size:18px;
    color: #af2222;
}

#premium{
    font-family: "Arial", fantasy;
    color: #ff6700;
}

a {
    font-family: "Copperplate", sans-serif;
    font-size: 18px;
}

a:link, a:visited {
    background-color: #78c1ff;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }
  
  a:hover, a:active {
    background-color: #003f9a;
    color: white;
  }