{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'esportes/style.css' %}"> -->

<h1> Veja os torneios que acompanhamos </h1>

<div class="torneios-panel">
    {% for torneios in dados %}
    <a style="color: inherit; text-decoration: none;" href='http://localhost:8000/torneios/?name={{torneios.nome}}'>
    <div class="torneios-card">
        <h3>{{ torneios.nome }}</h3>
        <br>
        <b>Esporte: {{ torneios.esporte }}</b>
        <br>
        <b>Placares:<br></b>
            {% for partida in torneios.partidas %}
            <span> {{ partida.placar }} <br></span>
            {% endfor %}
            <br>
            <br>
    </div>
    </a>
    {% endfor %}
</div>

<body style="background-color:#78c1ff;"></body>

<style>
    h1 {
       text-align: center;
    }

    .torneios-panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .torneios-card {
      margin: 5px 15px;
      padding-bottom: 10px;
      border-radius: 5px;
      background-color: hsl(210, 65%, 80%);
      border: 4px outset #000f29;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 400px;
    }

    .partidas-card:hover {
        background-color: hsl(210, 65%, 95%);
    }

    span {
        font-size: normal;
        text-align: center;
    }
</style>

<a href="http://localhost:8000/"> Voltar </a>