{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'esportes/style.css' %}"> -->

<h1> Veja os partidas que acompanhamos </h1>

<div class="partidas-panel">
    {% for partidas in dados %}
    <div class="partidas-card">
        {{ partidas.times.0.nome }} X {{ partidas.times.1.nome }} 
        <br>
        Placar: {{ partidas.placar }}
        <br>
        Duração: {{ partidas.duracao }}
    </div>
    {% endfor %}
</div>

<style>
    h1 {
       text-align: center;
    }

    .partidas-panel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .partidas-card {
        margin: 5px 15px;
        border: 3px inset hsl(210, 75%, 60%);
        display: flex;
        flex-direction: column;
    }
</style>

<a href="{% url 'partidas:index' %}"> Voltar </a>